{% extends 'app/layout.html.j2' %} 
{% block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app/domain.css')|autoversion }}">
<script type=text/javascript>
trackingIds = [{% for job in job_runs %}'{{ job.tracking_id }}',{% endfor %}];
</script>
{% include 'app/domain-banner.html.j2' %}
<div class="domain-container">
    <div class="container-tabs">
        <a href="/app/domain/{{ domain.domain_id }}">Details</a>
        <a href="/app/domain/{{ domain.domain_id }}/jobs">Jobs <span class="counter">{{ jobs_count }}</span></a>
        <a href="/app/domain/{{ domain.domain_id }}/inventory" class="active">Inventory <span class="counter">{{ programs_count }}</span></a>
        <a href="/app/domain/{{ domain.domain_id }}/subdomains">Subdomains <span class="counter">{{ subdomains_count }}</span></a>
        <a href="/app/domain/{{ domain.domain_id }}/findings">Findings <span class="counter">{{ findings_count }}</span></a>
    </div>
    <div class="domain-body">
        <div class="fields" id="program-list"{% if not programs %} style="display: none;"{% endif %}>
            <div class="fields-row">
                <div class="input-column column">
                    <div class="programs-list">
                        <table>
                            <thead>
                            <tr>
                                <th>Program</th>
                                <th>Version</th>
                                <th>Source</th>
                                <th>Category</th>
                                <th colspan="2">Last Checked</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for program in programs %}
                            <tr data-program-id="{{ program.program_id }}">
                                <td>{{ program.name }}</td>
                                <td>{{ program.version if program.version }}</td>
                                <td>{{ program.source_description }}</td>
                                <td>{{ program.category }}</td>
                                <td><time datetime="{{ program.last_checked }}"></time></td>
                                <td width="10px"><i class="icofont-curved-right"></i></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type=text/javascript src="{{url_for('static', filename='js/vendor/chart.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/app/domain.js')|autoversion }}"></script>
{% endblock %}