{% extends 'app/layout.html' %} 
{% block body %}
<link rel= "stylesheet" type= "text/css" href="{{ asset_url }}/styles/app/domain.css">
{% include 'app/domain-banner.html' %}
<div class="domain-container">
    <div class="container-tabs">
        <a href="/domain/{{ domain.domain_id }}" class="active">Details</a>
        <a href="/domain/{{ domain.domain_id }}/jobs">Jobs</a>
        <a href="/domain/{{ domain.domain_id }}/inventory">Inventory</a>
        <a href="/domain/{{ domain.domain_id }}/subdomains">Subdomains</a>
        <a href="/domain/{{ domain.domain_id }}/findings">Findings</a>
    </div>
    <div class="domain-body">
        <div class="fields" id="dnsrecords-list"{% if not dns_records %} style="display: none;"{% endif %}>
            <div class="fields-row">
                <div class="input-column column">
                    <div class="dnsrecords-list">
                        <table>
                            <thead>
                            <tr>
                                <th>DNS</th>
                                <th width="200">Last Checked</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dns_record in dns_records %}
                            <tr data-dnsrecord-id="{{ dns_record.dns_record_id }}">
                                <td>{{ dns_record.raw }}</td>
                                <td><time datetime="{{ dns_record.last_checked }}"></time></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
        {% if domain.http_headers %}{% set http_headers = domain.http_headers.data | from_json %}
        <div class="fields" id="httpheaders-list">
            <div class="fields-row">
                <div class="input-column column">
                    <div class="httpheaders-list">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="2">HTTP Headers</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for header, value in http_headers.items() %}
                            <tr>
                                <td>{{ header }}</td>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type=text/javascript src="{{ asset_url }}/js/vendor/chart.min.js') }}"></script>
<script type=text/javascript src="{{ asset_url }}/js/app/domain.js"></script>
{% endblock %}