{% extends 'app/layout.html' %} 
{% block body %}
<link rel= "stylesheet" type= "text/css" href="{{ asset_url }}/styles/app/domain.css">
{% include 'app/domain-banner.html' %}
<div class="domain-container">
    <div class="container-tabs">
        <a href="/domain/{{ domain.domain_id }}">Details</a>
        <a href="/domain/{{ domain.domain_id }}/jobs">Jobs</a>
        <a href="/domain/{{ domain.domain_id }}/inventory">Inventory</a>
        <a href="/domain/{{ domain.domain_id }}/subdomains">Subdomains</a>
        <a href="/domain/{{ domain.domain_id }}/findings" class="active">Findings</a>
    </div>
    <div class="domain-body">
        <div class="fields" id="finding-list"{% if not findings %} style="display: none;"{% endif %}>
            <div class="fields-row">
                <div class="input-column column">
                    <div class="findings-list">
                        <table>
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Source</th>
                                <th>Severity</th>
                                <th>Evidence</th>
                                <th colspan="2">Last Observed</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for finding in findings %}
                            <tr data-finding-id="{{ finding.finding_id }}">
                                <td>{{ finding.detail_title }}</td>
                                <td>{{ finding.source_description }}</td>
                                <td>{{ finding.severity_normalized }}</td>
                                <td><pre class="code">{{ finding.evidence }}</pre></td>
                                <td><time datetime="{{ finding.last_observed_at }}"></time></td>
                                <td width="10px"><i class="icofont-curved-right"></i></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}