{% extends 'app/layout.html' %} 
{% block body %}
<link rel= "stylesheet" type= "text/css" href="{{ asset_url }}/styles/app/domain.css">
{% include 'app/domain-banner.html' %}
<div class="domain-container">
    <div class="container-tabs">
        <a href="/domain/{{ domain.domain_id }}">Details</a>
        <a href="/domain/{{ domain.domain_id }}/jobs" class="active">Jobs</a>
        <a href="/domain/{{ domain.domain_id }}/inventory">Inventory</a>
        <a href="/domain/{{ domain.domain_id }}/subdomains">Subdomains</a>
        <a href="/domain/{{ domain.domain_id }}/findings">Findings</a>
    </div>

    <div class="fields" id="jobs-list"{% if not job_runs %} style="display: none;"{% endif %}>
        <div class="fields-row">
            <div class="input-column column">
                <div class="jobs-list">
                    <table>
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>State</th>
                            <th>Result</th>
                            <th>Created</th>
                            <th>Started</th>
                            <th>Updated</th>
                            <th colspan="2">Completed</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for job in job_runs %}{% set queue_data = job.queue_data | from_json %}
                        <tr data-jobrun-id="{{ job.job_run_id }}">
                            <td>{{ queue_data.service_type_category }}</td>
                            <td>{{ queue_data.scan_type }}</td>
                            <td title="{{ job.worker_message if job.worker_message }}">{{ job.state }}</td>
                            <td>{{ queue_data.report_summary if queue_data.report_summary }}</td>
                            <td><time datetime="{{ job.created_at }}"></time></td>
                            <td>{% if job.started_at %}<time datetime="{{ job.started_at }}"></time>{% endif %}</td>
                            <td>{% if job.updated_at %}<time datetime="{{ job.updated_at }}"></time>{% endif %}</td>
                            <td>{% if job.completed_at %}<time datetime="{{ job.completed_at }}"></time>{% endif %}</td>
                            <td width="10px"><i class="icofont-curved-right"></i></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}