{% extends 'app/layout.html.j2' %} 
{% block body %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app/feed.css')|autoversion }}">


        <script type=text/javascript src="{{url_for('static', filename='js/app/feed.js')|autoversion }}"></script>
{% endblock %}