<!DOCTYPE html>
<html lang="en">  
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trivial Security{% if page_title %} - {{ page_title }}{% endif %}</title>
        {% if css_includes %}
        {% for css_include in css_includes %}
        <link rel= "stylesheet" type= "text/css" href="{{ asset_url }}/styles/{{ css_include }}" />
        {% endfor %}
        {% endif %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url }}/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset_url }}/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset_url }}/images/favicon-16x16.png">
        <link rel="mask-icon" href="{{ asset_url }}/images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="{{ asset_url }}/favicon.ico">
        <meta name="msapplication-TileColor" content="#494949">
        <meta name="msapplication-config" content="{{ asset_url }}/browserconfig.xml">
        <meta name="theme-color" content="#1ABB9C">
        <meta name="application-name" content="Trivial Security"
            data-recaptcha-site-key="{{ recaptcha_site_key }}"
            data-domain-name="{{ app_domain }}"
            data-domain-scheme="{{ app_scheme }}"
            data-static-domain="{{ asset_domain }}"
            data-static-scheme="{{ asset_scheme }}"
            data-api-domain="{{ api_domain }}"
            data-api-scheme="{{ api_scheme }}"
            data-websocket-domain="{{ socket_domain }}"
            data-websocket-scheme="{{ socket_scheme }}"
        {% if account.account.socket_key %}
            data-websocket-uuid="{{ account.account.socket_key }}"
        {% endif %}
        {% if account %}
            data-account-id="{{ account.account_id }}"
            data-account-email="{{ account.email }}"
        {% endif %}
        {% if account.u2f_keys %}
            data-keys="{{ account.u2f_keys | to_json }}"
        {% endif %}
        {% if account.totp_mfa_id %}
            data-mfa-id="{{ account.totp_mfa_id }}"
        {% endif %}
        {% if account.apikey %}
            data-api-key-id="{{ account.apikey.api_key }}"
        {% endif %}>
        {% if account.is_authenticated %}
        <script type=text/javascript src="{{ asset_url }}/js/vendor/socket.io.4.1.3.min.js"></script>
        <script type=text/javascript src="{{ asset_url }}/js/vendor/cbor.0.1.0.min.js"></script>
        {% endif %}
        <script type=text/javascript src="{{ asset_url }}/js/vendor/micromustache.umd.8.0.3.min.js"></script>
        <script type=text/javascript src="{{ asset_url }}/js/site.min.js"></script>
        <script type=text/javascript src="{{ asset_url }}/js/utils.min.js"></script>
        <script type=text/javascript src="{{ asset_url }}/js/api.min.js"></script>
        {% if account.is_authenticated %}
        <script type=text/javascript src="{{ asset_url }}/js/websocket.min.js"></script>
        {% endif %}
        {% if js_includes %}
        {% for js_include in js_includes %}
        <script type=text/javascript src="{{ asset_url }}/js/{{ js_include }}"></script>
        {% endfor %}
        {% endif %}
    </head>
    <body class="sidenav-open">
        <div class="overlay"></div>
        {% include 'app/navbar.html' %}
        {% include 'toast.html' %}
        {% include 'totp.html' %}

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>