<div class="navbar-row">
    <nav role="navigation" class="navigation-top">
      <a href="{{ site_url }}" class="title-link-top">
        <img src="{{ asset_url }}/images/icon-64x64.png">
        <span>Trivial Security</span>
      </a>
      {% if account.is_authenticated %}
      <div class="user-profile-wrapper">
        <a href="javascript:void(0)" class="user-profile">
          <span>{{ account.email }}</span>
        </a>
      </div>
      {% endif %}
      <div class="menu-closer toggle-sidenav">
          <img class="toggler" src="{{ asset_url }}/images/icon-close-sidenav.svg" alt />
      </div>
</div>
<div class="sidebar-column">
  <div class="navigation-bar">
    <a href="/" class="title-link-side">
      <img src="{{ asset_url }}/images/icon-64x64.png">
      <span>Trivial Security</span>
    </a>
    <div class="menu-opener toggle-sidenav">
      <img class="toggler" src="{{ asset_url }}/images/icon-open-sidenav.svg" alt />
    </div>
    <nav role="navigation" class="navigation-menu">
      <ul>
        {% if roles.is_internal_member %}
        <li class="nav-backend">
          <a href="/backend/accounts">
            <i class="icofont-arrow-left"></i>
            <span>Backend</span>
          </a>
        </li>
        {% endif %}
        {% if account.is_authenticated %}
        <li class="{% if page == 'dashboard' %}active {% endif %}nav-dashboard">
          <a href="/dashboard">
            <img src="{{ asset_url }}/images/icon-dashboard-white.svg" alt />
            <span>Dashboard</span>
          </a>
        </li>
        <li class="{% if page == 'tasks' %}active {% endif %}nav-tasks">
          <a href="/tasks">
            <img src="{{ asset_url }}/images/icon-clipboard-white.svg" alt />
            <span>My Tasks</span>
          </a>
        </li>
        <li class="{% if page == 'projects' %}active {% endif %}nav-projects">
          <a href="/projects">
            <img src="{{ asset_url }}/images/icon-add-project-white.svg" alt />
            <span>Projects</span>
          </a>
        </li>
        <li class="{% if page == 'reports' %}active {% endif %}nav-reports">
          <a href="/reports">
            <img src="{{ asset_url }}/images/icon-report-white.svg" alt />
            <span>Reports</span>
          </a>
        </li>
        {# <li class="{% if page == 'repositories' %}active {% endif %}nav-repositories">
          <a href="/repositories">
            <i class="icofont-code"></i>
            <span>Repositories</span>
          </a>
        </li>
        <li class="{% if page == 'inventory' %}active {% endif %}nav-inventory">
          <a href="/inventory">
            <i class="icofont-clip-board"></i>
            <span>Inventory</span>
          </a>
        </li>
        <li class="{% if page == 'findings' %}active {% endif %}nav-findings">
          <a href="/findings">
            <i class="icofont-safety"></i>
            <span>Findings</span>
          </a>
        </li>
        <li class="{% if page == 'feed' %}active {% endif %}nav-feed">
          <a href="/feed">
            <i class="icofont-rss-feed"></i>
            <span>Feed</span>
          </a>
        </li> #}
      </ul>

      {% endif %}
    </nav>
  </div>
  <div class="sidebar-footer">
    {% if account.is_authenticated %}
    <a data-toggle="tooltip" href="/support" title="Support">
        <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/me/preferences" title="User Preferences">
        <img src="{{ asset_url }}/images/icon-user-white.svg" alt />
    </a>
    <a id="app-logout-action" data-toggle="tooltip" href="/logout" title="Logout">
      <img src="{{ asset_url }}/images/icon-logout-white.svg" alt />
    </a>
    {% else %}
    <a data-toggle="tooltip" href="/support" title="Support">
      <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/me/preferences" title="User Preferences">
        <img src="{{ asset_url }}/images/icon-user-white.svg" alt />
    </a>
    <a id="app-logout-action" data-toggle="tooltip" href="{{ site_url }}" title="Login">
      <img src="{{ asset_url }}/images/icon-login-white.svg" alt />
    </a>
    {% endif %}
  </div>
</div>