<div class="navbar-row">
    <nav role="navigation" class="navigation-top">
      <a href="{{ host_scheme }}{{ host_domain }}" class="title-link-top">
        <img src="{{ url_for('static',filename='images/icon-64x64.png') }}">
        <span>Trivial Security</span>
      </a>
      {% if account.is_authenticated %}
      <div class="user-profile-wrapper">
        <a href="javascript:void(0)" class="user-profile">
          <span>{{ account.email }}</span>
        </a>
      </div>
      {% endif %}
      <ul class="breadcrumbs">
          <li><a href="/dashboard">Dashboard</a></li>
          {% if page == 'scopes' and not project %}
          <li>Scopes</li>
          {% elif page == 'tasks' and not task %}
          <li>Task List</li>
          {% elif page == 'inventory' %}
          <li>Inventory</li>
          {% elif page == 'reports' %}
          <li>Reports</li>
          {% elif page == 'findings' and not finding %}
          <li>Findings</li>
          {% endif %}
          {% if project %}
          <li><a href="/scopes">Scopes</a></li>
          <li>{{ project.name }}</li>
          {% endif %}
          {% if domain and domain.project %}
          <li><a href="/scopes">Scopes</a></li>
          <li><a href="/scope/{{ domain.project.project_id }}">{{ domain.project.name }}</a></li>
          {% if domain %}
          {% if domain.parent_domain_id %}
          <li><a href="/domain/{{ domain.parent_domain_id }}">{{ domain.parent.name }}</a></li>
          {% endif %}
          <li>{{ domain.name }}</li>
          {% endif %}
          {% endif %}
      </ul>
    </nav>
    <div class="toggle-sidenav"><i class="icofont-rounded-double-left"></i></div>
</div>
<div class="sidebar-column">
  <div class="navigation-bar">
    <a href="/" class="title-link-side">
      <img src="{{ url_for('static',filename='images/icon-64x64.png') }}">
      <span>Trivial Security</span>
    </a>
    <div class="menu-opener">
      <i class="icofont-rounded-double-right"></i>
    </div>
    <nav role="navigation" class="navigation-menu">
      <ul>
        {% if roles.is_internal_member %}
        <li class="nav-backend">
          <a href="/backend/accounts">
            <i class="icofont-arrow-left"></i>
            <span>Backend</span>
          </a>
        </li>
        {% endif %}
        {% if account.is_authenticated %}
        <li class="{% if page == 'dashboard' %}active {% endif %}nav-dashboard">
          <a href="/dashboard">
            <i class="icofont-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="{% if page == 'scopes' %}active {% endif %}nav-scopes">
          <a href="/scopes">
            <i class="icofont-bullseye"></i>
            <span>Scopes</span>
          </a>
        </li>
        <li class="{% if page == 'tasks' %}active {% endif %}nav-tasks">
          <a href="/tasks">
            <i class="icofont-tasks"></i>
            <span>My Tasks</span>
          </a>
        </li>
        {# <li class="{% if page == 'repositories' %}active {% endif %}nav-repositories">
          <a href="/repositories">
            <i class="icofont-code"></i>
            <span>Repositories</span>
          </a>
        </li> #}
        {# <li class="{% if page == 'inventory' %}active {% endif %}nav-inventory">
          <a href="/inventory">
            <i class="icofont-clip-board"></i>
            <span>Inventory</span>
          </a>
        </li> #}
        {# <li class="{% if page == 'findings' %}active {% endif %}nav-findings">
          <a href="/findings">
            <i class="icofont-safety"></i>
            <span>Findings</span>
          </a>
        </li> #}
        <li class="{% if page == 'reports' %}active {% endif %}nav-reports">
          <a href="/reports">
            <i class="icofont-archive"></i>
            <span>Reports</span>
          </a>
        </li>
        {# <li class="{% if page == 'feed' %}active {% endif %}nav-feed">
          <a href="/feed">
            <i class="icofont-rss-feed"></i>
            <span>Feed</span>
          </a>
        </li> #}
      </ul>

      {% endif %}
    </nav>
  </div>
  <div class="sidebar-footer">
    {% if account.is_authenticated %}
    <a data-toggle="tooltip" href="/support" title="Support">
      <i class="icofont-question-circle"></i>
    </a>
    <a data-toggle="tooltip" href="/account/preferences" title="Preferences">
      <i class="icofont-options"></i>
    </a>
    <a data-toggle="tooltip" href="/notifications" title="Notifications">
      <i class="icofont-notification"></i>
    </a>
    <a id="app-logout-action" data-toggle="tooltip" href="/logout" title="Logout">
      <i class="icofont-logout"></i>
    </a>
    {% else %}
    <a data-toggle="tooltip" href="/support" title="Support">
      <i class="icofont-question-circle"></i>
    </a>
    <a data-toggle="tooltip" href="/contact" title="Contact">
      <i class="icofont-headphone-alt-2"></i>
    </a>
    <a data-toggle="tooltip" href="/register" title="Register">
      <i class="icofont-sign-out"></i>
    </a>
    <a data-toggle="tooltip" href="/login" title="Login">
      <i class="icofont-sign-in"></i>
    </a>
    {% endif %}
  </div>
</div>