{% extends 'app/layout.html' %} 
{% block body %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app/notifications.css')|autoversion }}">
    
    <div class="table-wrapper">
        <div class="table-inner">
        <table>
            <tbody>
            {% for noti in notifications %}
            <tr class="highlight">
                <td><input type="checkbox" name="table_notifications" value="{{ noti.notification_id }}"/></td>
                <td><a href="{{ noti.url }}">{{ noti.description }}</a></td>
                <td>{{ noti.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

        <script type=text/javascript src="{{url_for('static', filename='js/app/notifications.js')|autoversion }}"></script>
{% endblock %}