{% extends 'app/layout.html' %} 
{% block body %}
<ul class="breadcrumbs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/projects">Projects</a></li>
    <li>{{ page_title }}</li>
</ul>
{% include 'app/project-banner.html' %}
<div class="project-container">
    <div class="container-tabs">
        <a href="/project/{{ project.project_id }}" class="active">Domains</a>
        <a href="/project/{{ project.project_id }}/jobs">Jobs</a>
        <a href="/project/{{ project.project_id }}/reports">Reports</a>
    </div>
    <div class="project-body">
        <section class="fields{% if not project.domains %} hide{% endif %}" id="domains-list">
            <div class="fields-row">
                <div class="input-column column">
                    <div class="domains-list">
                        <table>
                            {% if not project.domains %}
                            <caption>No Domains</caption>
                            {% endif %}
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Domain</th>
                                <th scope="col" colspan="8"></th>
                                <th scope="col">Last Checked</th>
                                <th scope="col" colspan="3">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for domain in project.domains %}
                            <tr data-domain-id="{{ domain.domain_monitoring_id }}" class="{% if not domain.assessed_at %}disabled-events{% endif %}">
                                <td class="click-through" title="{% if domain.http_status %}HTTP {{ domain.http_status }}{% endif %}">
                                    {% if domain.http_status %}
                                    <span class="pip http-{{ domain.http_status|http_code_group }}">{{ domain.http_status }}</span>
                                    {% else %}
                                    <span class="pip"></span>
                                    {% endif %}
                                </td>
                                <td class="click-through"><a href="/domain/{{ domain.domain_id }}">{{ domain.domain_name }}</a></td>
                                <td class="click-through">
                                {% if domain.html_title %}
                                {{ domain.html_title }}
                                {% endif %}
                                </td>
                                {% if domain.dns_registered %}
                                    {% if domain.dns_registered %}
                                <td class="click-through td-small" title="Domain Name Registered"><img class="icon" src="{{ asset_url }}/images/icon-www.svg" alt /></td>
                                    {% else %}
                                <td class="click-through td-small" title="Domain Name Not Registered{% if domain.dns_answer %} {{ domain.dns_answer }}{% endif %}"><img class="icon" src="{{ asset_url }}/images/icon-www-red.svg" alt /></td>
                                    {% endif %}
                                {% elif domain.dns_answer %}
                                <td class="click-through td-small" title="{{ domain.dns_answer }}"><img class="icon" src="{{ asset_url }}/images/icon-dns.svg" alt /></td>
                                {% else %}
                                <td class="click-through td-small" title="DNS Unknown"><img class="icon" src="{{ asset_url }}/images/icon-dns-red.svg" alt /></td>
                                {% endif %}
                                {% if domain.txt_verification is not none %}
                                    {% if domain.txt_verification %}
                                <td class="click-through td-small" title="Verified"><img class="icon" src="{{ asset_url }}/images/icon-verified.svg" alt /></td>
                                    {% else %}
                                <td class="click-through td-small" title="Unverified - Please complete account DNS verification"><img class="icon" src="{{ asset_url }}/images/icon-unverified.svg" alt /></td>
                                    {% endif %}
                                {% else %}
                                <td class="click-through td-small" title="Verification Unknown"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.negotiated_protocol and domain.negotiated_protocol in ['TLSv1.2', 'TLSv1.3'] %}
                                <td class="click-through td-small" title="{{ domain.negotiated_protocol }}"><img class="icon" src="{{ asset_url }}/images/icon-tls-green.svg" alt /></td>
                                {% elif domain.negotiated_protocol %}
                                <td class="click-through td-small" title="Insecure Connection"><img class="icon" src="{{ asset_url }}/images/icon-not-secured.svg" alt /></td>
                                {% else %}
                                <td class="click-through td-small" title="Connection Tests - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.certificate_valid %}
                                {% if domain.certificate_chain_valid %}
                                <td class="click-through td-small" title="Certificate chain is valid"><img class="icon" src="{{ asset_url }}/images/icon-certificate-green.svg" alt /></td>
                                {% else %}
                                <td class="click-through td-small" title="Certificate is valid, but the chain was not: {{ domain.certificate_chain_validation_result }}"><img class="icon" src="{{ asset_url }}/images/icon-lock-error.svg" alt /></td>
                                {% endif %}
                                {% else %}
                                {% if domain.certificate_valid is none %}
                                <td class="click-through td-small" title="TLS Certificate Tests - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% else %}
                                <td class="click-through td-small" title="{{ domain.certificate_validation_result }}"><img class="icon" src="{{ asset_url }}/images/icon-lock-error.svg" alt /></td>
                                {% endif %}
                                {% endif %}
                                {% if domain.intel_phishtank %}
                                <td class="click-through td-small" title="Fraud Check: {{ domain.intel_phishtank }}">
                                {% if domain.intel_phishtank == 'Unclassified' %}
                                <img class="icon" src="{{ asset_url }}/images/icon-public-safety.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-annon-mask.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through td-small" title="Fraud Checks - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.reputation_google_safe_browsing %}
                                <td class="click-through td-small" title="Google Safe Browsing: {{ domain.reputation_google_safe_browsing }}">
                                {% if domain.reputation_google_safe_browsing == 'Safe' %}
                                <img class="icon" src="{{ asset_url }}/images/icon-google-safe-browsing.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-not-secured-red.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through td-small" title="Safe Browsing Check - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.intel_honey_score %}
                                <td class="click-through td-small" title="Honeypot Score {{ domain.intel_honey_score }}">
                                {% if domain.intel_honey_score >= '0.5' %}
                                <img class="icon" src="{{ asset_url }}/images/icon-honeypot-red.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-honeypot.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through td-small" title="Honey Score Check - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.intel_threat_type %}
                                <td class="click-through td-small" title="Threat Score {{ domain.intel_threat_score }}/255 - {{ domain.intel_threat_type }}">
                                {% if domain.intel_threat_score|int > 0 %}
                                <img class="icon" src="{{ asset_url }}/images/icon-spy.svg" alt />
                                {% elif domain.intel_threat_score|int > 100 %}
                                <img class="icon" src="{{ asset_url }}/images/icon-bomb-red.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-no-spy.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through td-small" title="Threat Score Check - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                <td class="click-through" title="Last Checked">
                                {% if domain.assessed_at %}
                                <time datetime="{{ domain.assessed_at }}"></time>
                                {% endif %}
                                </td>
                                {% if domain.enabled %}
                                <td class="toggle-monitoring td-small" data-monitoring="on">
                                <img class="icon" src="{{ asset_url }}/images/icon-toggle-on.svg" alt title="Disable domain monitoring"/>
                                </td>
                                {% else %}
                                <td class="toggle-monitoring td-small" data-monitoring="off">
                                <img class="icon" src="{{ asset_url }}/images/icon-toggle-off.svg" alt title="Enable domain monitoring"/>
                                </td>
                                {% endif %}
                                <td class="delete-domain td-small">
                                <div id="delete-domain" title="Delete domain record"><img class="icon" src="{{ asset_url }}/images/icon-trash-red.svg" alt /></div>
                                </td>
                                <td class="click-through"><img class="caret" src="{{ asset_url }}/images/icon-caret-right.svg" alt /></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'app/pagination.html' %}
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}