{% extends 'app/layout.html' %} 
{% block body %}
<link rel= "stylesheet" type= "text/css" href="{{ asset_url }}/styles/app/project.css">
<script type=text/javascript>
findings_severity = {
{% for domain in project.domains if domain.domain_id %}
    {{ domain.domain_id }}: {{ domain.findings_severity }},
{% endfor %}
};
</script>
{% include 'app/project-banner.html' %}
<div class="project-container">
    <div class="container-tabs">
        <a href="/project/{{ project.project_id }}">Domains</a>
        <a href="/project/{{ project.project_id }}/jobs">Jobs</a>
        <a href="/project/{{ project.project_id }}/reports" class="active">Reports</a>
    </div>

</div>
{% endblock %}