{% extends 'app/layout.html.j2' %} 
{% block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app/project.css')|autoversion }}">
<script type=text/javascript>
findings_severity = {
{% for domain in project.domains if domain.domain_id %}
    {{ domain.domain_id }}: {{ domain.findings_severity }},
{% endfor %}
};
</script>
{% include 'app/project-banner.html.j2' %}
<div class="project-container">
    <div class="container-tabs">
        <a href="/app/project/{{ project.project_id }}">Domains <span class="counter">{{ domains_count }}</span></a>
        <a href="/app/project/{{ project.project_id }}/jobs">Jobs <span class="counter">{{ jobs_count }}</span></a>
        <a href="/app/project/{{ project.project_id }}/reports" class="active">Reports <span class="counter">{{ reports_count }}</span></a>
    </div>

</div>
<script type=text/javascript src="{{url_for('static', filename='js/vendor/chart.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/app/project.js')|autoversion }}"></script>
{% endblock %}