{% extends 'app/layout.html' %} 
{% block body %}
{% include 'app/datalists.html' %}
<ul class="breadcrumbs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li>{{ page_title }}</li>
</ul>
<template id="tmpl-project-row">{% raw %}
    <tr data-project-id="{{ project_id }}" class="highlight">
        <td><div class="border info"></div></td>
        <td>
            <a class="secondary" href="/project/{{ project_id }}">{{ project_name }}</a>
        </td>
        <td title="Domains"><i class="icofont-globe"></i><div>1</div></td>
        <td><span title="High Severity Findings" class="label high">0</span></td>
        <td><span title="Medium Severity Findings" class="label medium">0</span></td>
        <td><span title="Low Severity Findings" class="label low">0</span></td>
        <td><span title="Informational Findings" class="label info">0</span></td>
        <td><span class="details">Details</span><img class="caret" src="{% endraw %}{{ asset_url }}{% raw %}/images/icon-caret-right.svg" alt /></td>
    </tr>{% endraw %}
</template>
<div class="projects-container">
    {% if not roles.is_readonly_member %}
    <div class="create_project_form">
        <input type="hidden" id="project-tracking-id">
        <input autocomplete="off" type="text" name="project_name" id="project_name_input" placeholder="Enter project name" tabindex="1" list="projects">
        <input autocomplete="off" type="text" name="domain_name" id="domain_name_input" placeholder="Enter domain name" tabindex="2" list="domains">
        <button id="create_project_input" type="button" tabindex="3"> New project</button>
    </div>
    {% endif %}

    <section class="fields" id="projects-list">
        <div class="fields-row">
            <div class="input-column column">
                <div class="projects-list">
                    <table class="checkboxes striped hover">
                        {% if not projects %}
                        <caption>
                            No Projects
                        </caption>
                        {% endif %}
                        <thead>
                            <th scope="col"></th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Domains</th>
                            <th scope="col" colspan="5">Findings</th>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                        <tr class="highlight" data-project-id="{{ project.canonical_id }}">
                            <td>
                                <div class="border {% if project.findings_high > 0 %}high{% elif project.findings_med > 0 %}med{% elif project.findings_low > 0 %}low{% else %}info{% endif %}"></div>
                            </td>
                            <td>
                                <a class="secondary" href="/project/{{ project.canonical_id }}">{{ project.name }}</a>
                            </td>
                            <td title="Domains"><div>{{ project.domains }}</div></td>
                            <td><span title="High Severity Findings" class="label high">{{ project.findings_high }}</span></td>
                            <td><span title="Medium Severity Findings" class="label medium">{{ project.findings_med }}</span></td>
                            <td><span title="Low Severity Findings" class="label low">{{ project.findings_low }}</span></td>
                            <td><span title="Informational Findings" class="label info">{{ project.findings_info }}</span></td>
                            <td><span class="details">Details</span><img class="caret" src="{{ asset_url }}/images/icon-caret-right.svg" alt /></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}