<div class="banner-area">
    <div class="project-header">
        <div class="heading-area">
            <div class="heading">
                <i class="icofont-label"></i> {{ project.name }}
            </div>
            <div class="sub-heading">Created <time datetime="{{ project.created_at }}"></time></div>
        </div>
        <div class="project-actions" data-project-id="{{ project.project_id }}">
            <div>
                <span class="archive-project" title="Archive Project"><i class="icofont-archive"></i></span>
            </div>
        </div>
    </div>
</div>
