{% extends 'app/layout.html' %} 
{% block body %}
<ul class="breadcrumbs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/projects">Projects</a></li>
    <li>{{ page_title }}</li>
</ul>
{% include 'app/project-banner.html' %}
<div class="project-container">
    <div class="container-tabs">
        <a href="/project/{{ project.project_id }}" class="active">Domains</a>
        <a href="/project/{{ project.project_id }}/jobs">Jobs</a>
        <a href="/project/{{ project.project_id }}/reports">Reports</a>
    </div>
    <div class="project-body">
        <section class="fields{% if not project.domains %} hide{% endif %}" id="domains-list">
            <div class="fields-row">
                <div class="input-column column">
                    <div class="domains-list">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Domain</th>
                                <th scope="col" colspan="8"></th>
                                <th scope="col">Last Checked</th>
                                <th scope="col" colspan="3">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for domain in project.domains %}
                            <tr data-domain-id="{{ domain.domain_id }}" class="{% if not domain.http_last_checked %}disabled-events{% endif %}">
                                <td class="click-through" title="{% if domain.http_code %}HTTP {{ domain.http_code.value }}{% endif %}">
                                    {% if domain.http_code %}
                                    <span class="pip http-{{ domain.http_code.value|http_code_group }}">{{ domain.http_code.value }}</span>
                                    {% else %}
                                    <span class="pip"></span>
                                    {% endif %}
                                </td>
                                <td class="click-through"><a href="/domain/{{ domain.domain_id }}"><span class="icofont-globe"></span> {{ domain.name }}</a></td>
                                <td class="click-through">
                                {% if domain.html_title %}
                                {{ domain.html_title.value }}
                                {% endif %}
                                </td>
                                {% if domain.dns_registered %}
                                    {% if domain.dns_registered.value == '1' %}
                                <td class="click-through" title="Domain Name Registered"><img class="icon" src="{{ asset_url }}/images/icon-www.svg" alt /></td>
                                    {% else %}
                                <td class="click-through" title="Domain Name Not Registered{% if domain.dns_answer.value %} {{ domain.dns_answer.value }}{% endif %}"><img class="icon" src="{{ asset_url }}/images/icon-www-red.svg" alt /></td>
                                    {% endif %}
                                {% elif domain.dns_answer %}
                                <td class="click-through" title="{{ domain.dns_answer.value }}"><img class="icon" src="{{ asset_url }}/images/icon-dns.svg" alt /></td>
                                {% else %}
                                <td class="click-through" title="DNS Unknown"><img class="icon" src="{{ asset_url }}/images/icon-dns-red.svg" alt /></td>
                                {% endif %}
                                {% if domain.app_verified %}
                                    {% if domain.app_verified.value == '1' %}
                                <td class="click-through" title="Verified"><img class="icon" src="{{ asset_url }}/images/icon-verified.svg" alt /></td>
                                    {% else %}
                                <td class="click-through" title="Unverified - Please complete account DNS verification"><img class="icon" src="{{ asset_url }}/images/icon-unverified.svg" alt /></td>
                                    {% endif %}
                                {% else %}
                                <td class="click-through" title="Verification Unknown"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.http_protocol and domain.http_protocol.value in ['TLSv1.2', 'TLSv1.3'] %}
                                <td class="click-through" title="{{ domain.http_protocol.value }}"><img class="icon" src="{{ asset_url }}/images/icon-tls.svg" alt /></td>
                                {% elif domain.http_protocol %}
                                <td class="click-through" title="Insecure Connection"><img class="icon" src="{{ asset_url }}/images/icon-not-secured.svg" alt /></td>
                                {% else %}
                                <td class="click-through" title="Connection Tests - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.http_certificate_expiry %}
                                {% if 'valid' in  domain.http_certificate_expiry.data|lower %}
                                <td class="click-through" title="{{ domain.http_certificate_expiry.data }}"><img class="icon" src="{{ asset_url }}/images/icon-certificate.svg" alt /></td>
                                {% else %}
                                <td class="click-through" title="{{ domain.http_certificate_expiry.data }}"><img class="icon" src="{{ asset_url }}/images/icon-lock-error.svg" alt /></td>
                                {% endif %}
                                {% else %}
                                <td class="click-through" title="TLS Tests - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.phishtank %}
                                <td class="click-through" title="Fraud Check: {{ domain.phishtank.value }}">
                                {% if domain.phishtank.value == 'Unclassified' %}
                                <img class="icon" src="{{ asset_url }}/images/icon-public-safety.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-annon-mask.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through" title="Fraud Checks - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.safe_browsing %}
                                <td class="click-through" title="Google Safe Browsing: {{ domain.safe_browsing.value }}">
                                {% if domain.safe_browsing.value == 'Safe' %}
                                <img class="icon" src="{{ asset_url }}/images/icon-google-safe-browsing.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-not-secured-red.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through" title="Safe Browsing Check - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.honey_score %}
                                <td class="click-through" title="Honeypot Score {{ domain.honey_score.value }}">
                                {% if domain.honey_score.value >= '0.5' %}
                                <img class="icon" src="{{ asset_url }}/images/icon-honeypot-red.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-honeypot.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through" title="Honey Score Check - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                {% if domain.threat_type %}
                                <td class="click-through" title="Threat Score for {{ domain.threat_type.value }} {{ domain.threat_score.value }}/255">
                                {% if domain.threat_score.value|int > 15 %}
                                <img class="icon" src="{{ asset_url }}/images/icon-spy.svg" alt />
                                {% elif domain.threat_score.value|int > 100 %}
                                <img class="icon" src="{{ asset_url }}/images/icon-bomb-red.svg" alt />
                                {% else %}
                                <img class="icon" src="{{ asset_url }}/images/icon-no-spy.svg" alt />
                                {% endif %}
                                </td>
                                {% else %}
                                <td class="click-through" title="Threat Score Check - No Data"><img class="icon" src="{{ asset_url }}/images/icon-not-visible.svg" alt /></td>
                                {% endif %}
                                <td class="click-through" title="Last Checked">
                                {% if domain.http_last_checked %}
                                <time datetime="{{ domain.http_last_checked }}"></time>
                                {% endif %}
                                </td>
                                {% if domain.enabled %}
                                <td class="toggle-monitoring" data-monitoring="on">
                                <img class="icon" src="{{ asset_url }}/images/icon-toggle-on.svg" alt title="Disable domain monitoring"/>
                                </td>
                                {% else %}
                                <td class="toggle-monitoring" data-monitoring="off">
                                <img class="icon" src="{{ asset_url }}/images/icon-toggle-off.svg" alt title="Enable domain monitoring"/>
                                </td>
                                {% endif %}
                                <td class="delete-domain">
                                <div id="delete-domain" title="Delete domain record"><img class="icon" src="{{ asset_url }}/images/icon-archive.svg" alt /></div>
                                </td>
                                <td class="click-through"><img class="caret" src="{{ asset_url }}/images/icon-caret-right.svg" alt /></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'app/pagination.html' %}
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}