<script type=text/javascript>
    findings_data = [
        {{ project.findings_info }},
        {{ project.findings_low }},
        {{ project.findings_med }},
        {{ project.findings_high }}
    ];
    jobs_data = [
        {{ project.jobs_completed }},
        {{ project.jobs_total - project.jobs_completed }},
        {{ project.jobs_total }}
    ]
</script>
<div class="banner-area">
    <div class="project-header">
        <div class="heading-area">
            <div class="heading">
                <i class="icofont-bullseye"></i> {{ project.name }}
            </div>
            <div class="sub-heading">Created <time datetime="{{ project.created_at }}"></time></div>
        </div>

        <div class="banner-section graphs">
            <div class="findings-title">Findings</div>
            <div class="findings-canvas">
                <canvas width="100" height="100"></canvas>
            </div>
        </div>

        <div class="banner-section graphs">
            <div class="jobs-title">Jobs</div>
            <div class="jobs-canvas">
                <canvas width="200" height="200"></canvas>
            </div>
        </div>

        <div class="project-actions" data-project-id="{{ project.project_id }}">
            <div>
                <span class="archive-project" title="Archive Scope"><i class="icofont-archive"></i></span>
            </div>
        </div>
    </div>
</div>
