<div class="navbar-row">
    <nav role="navigation" class="navigation-top">
      <a href="{{ site_url }}" class="title-link-top">
        <img src="{{ asset_url }}/images/icon-64x64.png" alt>
        <span>Trivial Security</span>
      </a>

      {% if account.is_authenticated %}
      <div class="user-profile-wrapper">
        <a href="javascript:void(0)" class="user-profile">
          <span>{{ account.email }}</span>
        </a>
      </div>
      {% endif %}

    </nav>
    <div class="menu-closer toggle-sidenav">
      <img class="toggler" src="{{ asset_url }}/images/icon-close-sidenav.svg" alt />
    </div>
</div>
<div class="sidebar-column">
  <div class="navigation-bar">
    <a href="/" class="title-link-side">
      <img src="{{ asset_url }}/images/icon-64x64.png" alt />
      <span>Trivial Security</span>
    </a>
    <div class="menu-opener toggle-sidenav">
      <img class="toggler" src="{{ asset_url }}/images/icon-open-sidenav.svg" alt />
    </div>
    <nav role="navigation" class="navigation-menu">
      <ul>
        {% if account.is_authenticated %}
        <li class="{% if page == 'panel' %}active {% endif %}nav-panel">
          <a href="/dashboard">
            <img src="{{ asset_url }}/images/icon-arrow-left-white.svg" alt />
            <span>Back to Application</span>
          </a>
        </li>
        <li class="{% if page == 'preferences' %}active {% endif %}nav-preferences">
          <a href="/me/preferences">
            <img src="{{ asset_url }}/images/icon-user-white.svg" alt />
            <span>My Account</span>
          </a>
        </li>
        <li class="{% if page == 'security' %}active {% endif %}nav-security">
          <a href="/me/security">
            <img src="{{ asset_url }}/images/icon-login-white.svg" alt />
            <span>Security</span>
          </a>
        </li>
        <li class="{% if page == 'notifications' %}active {% endif %}nav-notifications">
          <a href="/me/notifications">
            <img src="{{ asset_url }}/images/icon-notifications-white.svg" alt />
            <span>Notifications</span>
          </a>
        </li>
        <li class="{% if page == 'apikeys' %}active {% endif %}nav-apikeys">
          <a href="/me/apikeys">
            <img src="{{ asset_url }}/images/icon-api-white.svg" alt />
            <span>API Keys</span>
          </a>
        </li>
        {% endif %}
      </ul>

    </nav>
  </div>
  <div class="sidebar-footer">
    {% if account.is_authenticated %}
    <a data-toggle="tooltip" href="/support" title="Support">
        <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/account/settings" title="Organisation Settings">
        <img src="{{ asset_url }}/images/icon-settings-white.svg" alt />
    </a>
    <a id="app-logout-action" data-toggle="tooltip" href="/logout" title="Logout">
      <img src="{{ asset_url }}/images/icon-logout-white.svg" alt />
    </a>
    {% else %}
    <a data-toggle="tooltip" href="/support" title="Support">
      <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/register" title="Register">
      <img src="{{ asset_url }}/images/icon-logout-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/login" title="Login">
      <img src="{{ asset_url }}/images/icon-login-white.svg" alt />
    </a>
    {% endif %}
  </div>
</div>