{% extends 'user/layout.html' %} 
{% block body %}
Email Preferences and Other Notifications coming soon!
<br><br>
Subscriptions to marketing emails are opt-in only, if you have not contacted us and asked us to email you then you have not been added to our subscribers emailing list.
<br><br>
All registered members on a Free/Trial Subscription (using a promotion code) are added to our contact list on <a href="https://sendgrid.com/resource/faq/" target="_blank">Sendgrid</a>.
<br><br>
Verified accounts will only receive emails from us that are important to the operation of your account. You may of course unsubscribe from these via the unsubscribe at the bottom of any email. If you unsubscribe your account may not be recoverable if you are the sole 'Owner' and become locked out.
<br><br>

{% endblock %}