{% extends 'user/layout.html' %} 
{% block body %}
<ul class="breadcrumbs">
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/me">{{ account.email }}</a></li>
    <li>Security</li>
</ul>

<section class="fields">
    <div class="heading">
        <img src="{{ asset_url }}/images/icon-totp.svg" alt />
        Multi-factor Authentication
    </div>
    <div class="fields-row">
        <div class="label-column column">
            <label for="scratch_code">Recovery Code</label>
        </div>
        <div class="input-column column">
            <input type="text" name="scratch_code" id="scratch_code" value="{{ account.scratch_code|truncate(4,true,'') }}-??????-????????-??????" disabled>
            <span class="msg"></span>
            <button id="regenerate" type="button">Regenerate Code</button>
        </div>
    </div>
    <div class="fields-row">
        <div class="label-column column">
            <label for="scratch_code">Time-based One-time Password (TOTP)</label>
        </div>
        <div class="input-column column">
            {% if account.totp_mfa_id %}
            <div class="fields--message">TOTP is setup for this account</div>
            {% else %}
            <a class="add-mfa" href="/me/add-mfa" target="_blank">Setup TOTP</a>
            {% endif %}
        </div>
    </div>
    <div class="fields-row">
        <div class="input-column column">
            <div class="mfa-list">
                <table class="actions striped hover">
                    <caption>
                        <img src="{{ asset_url }}/images/icon-security-key.svg" alt />
                        Registered U2F Devices
                    </caption>
                    <thead>
                        <th scope="col">Nickname</th>
                        <th scope="col">Date Registered</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                    {% for u2f_key in account.u2f_keys %}
                    <tr data-mfa-id="{{ u2f_key.mfa_id }}">
                        <td contenteditable class="u2fkeyname">{{ u2f_key.name }}</td>
                        <td><time datetime="{{ u2f_key.registered }}"></time></td>
                        <td title="Remove Device"><button class="remove-device">Remove</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="add-mfa" href="/me/add-mfa" target="_blank">Add Device</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}