<template id="tmpl-toast">{% raw %}
    <div id="{{ uid }}" class="toast toast--active toast--{{ type }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">
            <img src="{% endraw %}{{ asset_url }}{% raw %}/images/icon-{{ type }}-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>{{ heading }}</h2>
            <p class="alert">{{ message }}</p>
        </div>
    </div>{% endraw %}
</template>
<section class="toast__container">
    {% if warning %}
    <div id="alert-warning" class="toast toast--active" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">
            <img src="{{ asset_url }}/images/icon-warning-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>Information</h2>
            <p class="alert">{{ warning }}</p>
        </div>
    </div>
    {% endif %}
    {% if info %}
    <div id="alert-info" class="toast toast--active" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">
            <img src="{{ asset_url }}/images/icon-info-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>Information</h2>
            <p class="alert">{{ info }}</p>
        </div>
    </div>
    {% endif %}
    {% if error %}
    <div id="alert-error" class="toast toast--active toast--warning" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">
            <img src="{{ asset_url }}/images/icon-error-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>Error</h2>
            <p class="alert">{{ error }}</p>
        </div>
    </div>
    {% endif %}
    {% if success %}
    <div id="alert-success" class="toast toast--active toast--success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">    
            <img src="{{ asset_url }}/images/icon-success-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>Success</h2>
            <p class="alert">{{ success }}</p>
        </div>
    </div>
    {% endif %}
</section>