<template id="tmpl-toast">{% raw %}
    <div id="{{ uid }}" class="toast toast--active toast--{{ type }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">
            <img src="{% endraw %}{{ asset_url }}{% raw %}/images/icon-{{ type }}-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>{{ heading }}</h2>
            <p class="alert">{{ message }}</p>
        </div>
    </div>{% endraw %}
</template>
<section class="toast__container">
    {% set defaults = {'info': 'Information', 'success': 'Success', 'warning': 'Warning', 'error': 'Error'} %}
    {% if toasts %}
    {% for toast in toasts %}
    {% set message_type = toast.type or 'info' %}
    <div id="alert-{{ loop.index }}" class="toast toast--active toast--{{ message_type }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast__icon">
            <img src="{{ asset_url }}/images/icon-{{ message_type }}-white.svg" alt />
        </div>
        <div class="toast__content">
            <h2>{{ toast.heading | default(defaults[message_type]) }}</h2>
            <p class="alert">{{ toast.message }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>