{% extends 'backend/layout.html.j2' %} 
{% block body %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/backend/invitations.css')|autoversion }}">
    <div class="table-wrapper">
        <div class="table-inner">
        <table id="invitation-list" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <th><input type="checkbox" id="table_invitations"/></th>
                <th>Account</th>
                <th>Email</th>
                <th>Message</th>
                <th>Invited By</th>
                <th>Date</th>
                <th class="actions">
                    <i class="icofont-close-squared"></i>
                </th>
            </tr>
            {% for invitation in invitations %}
            <tr class="highlight open-modal{% if invitation.disabled %} disabled{% endif %}" data-modal-id="{{ invitation.invitation_id }}" data-invitation-id="{{ invitation.invitation_id }}">
                <td><input type="checkbox" name="table_invitation" value="{{ invitation.invitation_id }}"/></td>
                <td class="account-cell" title="{{ invitation.account.alias }}">{{ invitation.account.alias }}</td>
                <td class="email-cell" title="{{ invitation.email }}">{{ invitation.email }}</td>
                <td class="message-cell" title="{{ invitation.message }}">{{ invitation.message }}</td>
                <td class="member-cell" title="{{ invitation.member.email }}">{{ invitation.member.email }}</td>
                <td class="created-cell" title="{{ invitation.created_at }}">
                    <time datetime="{{ invitation.created_at }}" title="{{ invitation.created_at }}"></time>
                </td>
                <td class="actions">
                    <i class="icofont-close" data-invitation-id="{{ invitation.invitation_id }}" data-action="deleted" title="Revoke Invitation"></i>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% include 'backend/pagination.html.j2' %}
    </div>

        <script type=text/javascript src="{{url_for('static', filename='js/backend/invitations.js')|autoversion }}"></script>
{% endblock %}