{% extends 'backend/layout.html' %} 
{% block body %}
    <link rel= "stylesheet" type= "text/css" href="{{ asset_url }}/styles/backend/subscriptions.css">
    <div class="table-wrapper">
        <div class="table-inner">
        <table id="subscription-list" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <th><input type="checkbox" id="table_subscriptions"/></th>
                <th>Email</th>
                <th>Deleted</th>
                <th>Date</th>
                <th class="actions">
                    <i class="icofont-close-squared"></i>
                </th>
            </tr>
            {% for subscription in subscriptions %}
            <tr class="highlight open-modal{% if subscription.disabled %} disabled{% endif %}" data-modal-id="{{ subscription.subscription_id }}" data-subscription-id="{{ subscription.subscription_id }}">
                <td><input type="checkbox" name="table_subscription" value="{{ subscription.subscription_id }}"/></td>
                <td class="email-cell" title="{{ subscription.email }}">{{ subscription.email }}</td>
                <td class="deleted-cell" title="{{ subscription.deleted }}">{{ subscription.deleted }}</td>
                <td class="created-cell" title="{{ subscription.created_at }}">
                    <time datetime="{{ subscription.created_at }}" title="{{ subscription.created_at }}"></time>
                </td>
                <td class="actions">
                    <i class="icofont-close" data-subscription-id="{{ subscription.subscription_id }}" data-action="deleted" title="Revoke Invitation"></i>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% include 'backend/pagination.html' %}
    </div>

        <script type=text/javascript src="{{ asset_url }}/js/backend/subscriptions.js"></script>
{% endblock %}