{% extends 'backend/layout.html.j2' %} 
{% block body %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/backend/users.css')|autoversion }}">
    <div class="table-wrapper">
        <div class="table-inner">
        <table id="member-list" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <th><input type="checkbox" id="table_members"/></th>
                <th class="title-cell">Email</th>
                <th class="account-cell">Account</th>
                <th class="registered-cell">Registered</th>
            </tr>
            {% for member in members %}
            <tr class="highlight open-modal" data-modal-id="{{ member.member_id }}" data-member-id="{{ member.member_id }}">
                <td><input type="checkbox" name="table_member" value="{{ member.member_id }}"/></td>
                <td>{{ member.email }}</td>
                <td>{{ member.account.alias }}</td>
                <td>{{ member.registered }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% include 'backend/pagination.html.j2' %}
    </div>
    <div id="members-modal" class="modal">
        {% for member in members %}
        <div class="modal-content" data-modal-id="{{ member.member_id }}">
            <div class="modal-header">
                <i class="icofont-ui-close close"></i>
                <h2>{{ member.email }}</h2>
            </div>
            <div class="modal-messages"></div>
            <div class="modal-body">

            </div>
            <div class="modal-sidebar">

            </div>
            <div class="member-actions">

            </div>
            <div class="modal-footer">

            </div>
        </div>
        {% endfor %}
    </div>


        <script type=text/javascript src="{{url_for('static', filename='js/backend/users.js')|autoversion }}"></script>
{% endblock %}