#banner-images img {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#banner-images img:nth-of-type(1) {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

#banner-images img:nth-of-type(2) {
    animation-name: FadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.subscribe {
    z-index: 1;
    position: fixed;
    bottom: 0;
    background: rgba(17, 138, 114, 0.9);
    border-radius: 8px;
    padding: 50px;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5vh;
    width: 80%;
}

button {
    background: #fff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.form-submit {
    display: inline-block;
}

.email-elem {
    display: inline-block;
}

.email-elem input {
    width: 25vw;
    padding: 10px;
}

@keyframes FadeOutIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.footer a {
    color: #fff;
}
