{% extends 'account/layout.html.j2' %}
{% block body %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/account/member.css')|autoversion }}">
    <ul class="breadcrumbs">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/account/organisation">Organisation</a></li>
        <li><a href="/account/member/{{ member.member_id }}">Member</a></li>
        <li>{{ member.email }}</li>
    </ul>
    <section class="fields" data-member-id="{{ member.member_id }}">
        <h2>Member Details</h2>
        <div class="fields-row">
            <div class="label-column column">
                <label for="alias">Email</label>
            </div>
            <div class="input-column column">
                <input id="member_email" type="text" name="member_email" value="{{ member.email }}">
            </div>
        </div>
        <div class="fields-row">
            <div class="label-column column">
                <label for="alias">Roles</label>
            </div>
            <div class="input-column column">
                <select autocomplete="off" id="assigned_roles" name="assigned_roles" multiple>
                {% for roleA in roles %}
                {% for roleB in member.roles %}
                <option {% if roleA.role_id == roleB.role_id %}selected="selected" {% endif %}value="{{ roleA.role_id }}">{{ roleA.name }}</option>
                {% endfor %}
                {% endfor %}
                </select>
                <button id="member-button" type="button">Update</button>
            </div>
        </div>
    </section>

    <section class="fields" data-member-id="{{ member.member_id }}">
        <h2>Activity</h2>
        <div class="fields-row">
            <div class="input-column column">
                <div class="activity-list">
                    <table>
                        <tbody>
                        {% for activity in activity_logs %}
                        <tr data-activity-id="{{ activity.activity_log_id }}">
                            <td>{{ activity.action }}</td>
                            <td>{{ activity.description }}</td>
                            <td><time datetime="{{ activity.occurred }}"></time></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'account/member-pagination.html.j2' %}
            </div>
        </div>
    </section>

<script type=text/javascript src="{{url_for('static', filename='js/account/member.js')|autoversion }}"></script>
{% endblock %}