<div class="navbar-row">
    <nav role="navigation" class="navigation-top">
      <a href="{{ site_url }}" class="title-link-top">
        <img src="{{ asset_url }}/images/icon-64x64.png" alt>
        <span>Trivial Security</span>
      </a>
      {% if account.is_authenticated %}
      <div class="user-profile-wrapper">
        <a href="javascript:void(0)" class="user-profile">
          <span>{{ account.email }}</span>
        </a>
      </div>
      {% endif %}
    </nav>
    <div class="menu-closer toggle-sidenav">
      <img class="toggler" src="{{ asset_url }}/images/icon-close-sidenav.svg" alt />
    </div>
</div>
<div class="sidebar-column">
  <div class="navigation-bar">
    <a href="/" class="title-link-side">
      <img src="{{ asset_url }}/images/icon-64x64.png" alt />
      <span>Trivial Security</span>
    </a>
    <div class="menu-opener toggle-sidenav">
      <img class="toggler" src="{{ asset_url }}/images/icon-open-sidenav.svg" alt />
    </div>
    <nav role="navigation" class="navigation-menu">
      <ul>
        {% if account.is_authenticated and not page == 'setup' %}
        <li class="{% if page == 'panel' %}active {% endif %}nav-panel">
          <a href="/dashboard">
            <img src="{{ asset_url }}/images/icon-arrow-left-white.svg" alt />
            <span>Back to Application</span>
          </a>
        </li>
        <li class="{% if page == 'settings' %}active {% endif %}nav-settings">
          <a href="/account/settings">
            <img src="{{ asset_url }}/images/icon-settings-white.svg" alt />
            <span>Organisation Settings</span>
          </a>
        </li>
        <li class="{% if page == 'organisation' %}active {% endif %}nav-organisation">
          <a href="/account/organisation">
            <img src="{{ asset_url }}/images/icon-org-white.svg" alt />
            <span>Member Administration</span>
          </a>
        </li>
        <li class="{% if page == 'subscription' %}active {% endif %}nav-subscription">
          <a href="/account/subscription">
            <img src="{{ asset_url }}/images/icon-subscription-white.svg" alt />
            <span>Subscription</span>
          </a>
        </li>
        <li class="{% if page == 'integrations' %}active {% endif %}nav-integrations">
          <a href="/account/integrations">
            <img src="{{ asset_url }}/images/icon-integration-white.svg" alt />
            <span>Integrations</span>
          </a>
        </li>
        <li class="{% if page == 'webhooks' %}active {% endif %}nav-webhooks">
          <a href="/account/webhooks">
            <img src="{{ asset_url }}/images/icon-api-white.svg" alt />
            <span>Webhooks</span>
          </a>
        </li>
        {% elif page == 'setup' %}
        <li class="{% if page == 'setup' %}active {% endif %}nav-setup">
          <a href="/account/setup/{{step}}">
            <img src="{{ asset_url }}/images/icon-rocket.svg" alt />
            <span>Account Setup</span>
          </a>
        </li>
        {% endif %}
      </ul>

    </nav>
  </div>
  <div class="sidebar-footer">
    {% if account.is_authenticated and not page == 'setup' %}
    <a data-toggle="tooltip" href="/support" title="Support">
        <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/me/preferences" title="User Preferences">
        <img src="{{ asset_url }}/images/icon-user-white.svg" alt />
    </a>
    <a id="app-logout-action" data-toggle="tooltip" href="/logout" title="Logout">
      <img src="{{ asset_url }}/images/icon-logout-white.svg" alt />
    </a>
    {% elif page == 'setup' %}
    <a data-toggle="tooltip" href="/support" title="Support">
      <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/account/setup/1" title="Setup">
      <img src="{{ asset_url }}/images/icon-cog-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a id="app-logout-action" data-toggle="tooltip" href="/logout" title="Logout">
      <img src="{{ asset_url }}/images/icon-logout-white.svg" alt />
    </a>
    {% else %}
    <a data-toggle="tooltip" href="/support" title="Support">
      <img src="{{ asset_url }}/images/icon-support-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/documentation" title="Documentation">
      <img src="{{ asset_url }}/images/icon-question-circle-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="/register" title="Register">
      <img src="{{ asset_url }}/images/icon-logout-white.svg" alt />
    </a>
    <a data-toggle="tooltip" href="{{ site_url }}" title="Login">
      <img src="{{ asset_url }}/images/icon-login-white.svg" alt />
    </a>
    {% endif %}
  </div>
</div>