{% extends 'account/layout.html' %} 
{% block body %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/account/preferences.css')|autoversion }}">

    <section class="fields">
        <h2>Update Email</h2>
        <div class="fields-row">
            <div class="label-column column">
                <label for="email">New Email</label>
            </div>
            <div class="input-column column">
                <input type="email" name="email" id="email" placeholder="Enter your new email here">
            </div>
            <div class="label-column column">
                <label for="password">Current Password</label>
            </div>
            <div class="input-column column">
                <input type="password" name="password" id="password" placeholder="Enter your current password here">
                <button id="change-email-button" type="button">Update</button>
            </div>
        </div>
    </section>

    <section class="fields">
        <h2>Change Password</h2>
        <div class="fields-row">
            <div class="label-column column">
                <label for="old_password">Old Password</label>
            </div>
            <div class="input-column column">
                <input type="password" id="old_password" name="old_password" placeholder="Enter your old password here">
            </div>
            <div class="label-column column">
                <label for="new_password">New Password</label>
            </div>
            <div class="input-column column">
                <input type="password" id="new_password" name="new_password" placeholder="Enter your new password here">
            </div>
            <div class="label-column column">
                <label for="repeat_password">Confirm Password</label>
            </div>
            <div class="input-column column">
                <input type="password" id="repeat_password" name="repeat_password" placeholder="Repeat your new password here">
                <button id="change-password-button" type="button">Update</button>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br>

<script type=text/javascript src="{{url_for('static', filename='js/account/preferences.js')|autoversion }}"></script>
{% endblock %}