{% extends 'account/layout.html.j2' %} 
{% block body %}
    <div class="col-2 step-2">
        <div class="setup-section">
            <h2>To use Trivial Security email services, scan domains, and uncover potential compromises - please verify your domains using DNS</h2>
            <p>
                <strong>Important</strong>: To stay verified, don't remove the DNS record, even after verification succeeds.
            </p>
            <p>
                To verify Trivial Security using a DNS record:<br>
                <ol>
                    <li>Learn how to add the TXT record to your domain provider (video below)</li>
                    <li>Sign in to your domain host</li>
                    <li>Add the verification TXT record to your provider's DNS records
                        <pre>trivialsec={{ account.account.verification_hash }}</pre>
                    </li>
                    <li>That's it.<br>
                        Trivial Security will periodically check for verification during routine actions
                    </li>
                </ol>
                <p>
                    Follow this guide to learn how to change your DNS records;<br>
                    Youtube: <a href="https://youtu.be/C_0FSgVgqnc" target="_blank">DNS record for site ownership verification - Google Search Console Training</a>
                </p>
            </p>
            <input type="text" name="verify_domains" placeholder="test a domain name">
            <button type="button" id="verification">Test</button>
            <button type="button" class="skip">Continue</button>
        </div>
    </div>
    <script type=text/javascript src="{{url_for('static', filename='js/account/setup.js')|autoversion }}"></script>
{% endblock %}