{% extends 'account/layout.html.j2' %} 
{% block body %}
<template id="tmpl-invitation-list">
    <td><%= invite_email %></td>
    <td><%= role_name %></td>
    <td><a href="{{ host_scheme }}{{ host_domain }}<%= confirmation_url %>" target="_blank"><%= confirmation_url %></a></td>
</template>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/account/setup.css')|autoversion }}">
<section class="wrapper">
    <ul class="steps">
        <li class="step-1 even current">
            <span>
            <strong>Step 1</strong>
            Account Details
            </span><i></i>
        </li>
        <li class="step-2 odd next">
            <span>
            <strong>Step 2</strong>
            Subscription
            </span><i></i>
        </li>
        <li class="step-3 even">
            <span>
            <strong>Step 3</strong>
            Getting Started
            </span><i></i>
        </li>
    </ul>

    <div class="step-{{ step }}">
        <div class="setup-section">
            <h2>What is the name of this organisation?</h2>
            <p>
                We would love to get to know you better, so when we think of your account and speak with you we like to have a unique name that goes with the relationship.
                Currently we know you as "{{ account.account.alias }}" and will use this for your application user experience and various communications.
            </p>
            <input type="text" name="account_alias" placeholder="{{ account.account.alias }}" value="{{ account.account.alias }}">
        </div>
        <div class="setup-section">
            <h2>Default role</h2>
            <p>
                When new members are invited to join your Trivial Security organisation, which default role would you like to use?
            </p>
            <select autocomplete="off" name="default_role_id">
            {% for role in roles %}
                <option {% if role.role_id == account_config.default_role_id %}selected="selected" {% endif %}value="{{ role.role_id }}">{{ role.name }}</option>
            {% endfor %}
            </select>
            <button type="button" id="step1">Save</button>
        </div>
    </div>
</section>
<script type=text/javascript src="{{url_for('static', filename='js/account/setup-1.js')|autoversion }}"></script>
{% endblock %}