.search_domains_form {
    width: 90%;
}

#domain_search_input {
    padding: 12px 0 12px 15px;
    margin: 0 0 0 30px;
    width: 50%;
    border: 0;
    background: #EDEDED;
    color: #73879C;
    font-size: 18px;
}

#search_domain {
    padding: 12px 0;
    margin: 0 0 0 1%;
    width: 9%;
    border: 0;
    background: #1ABB9C;
    color: #fff;
    font-size: 18px;
}
.fields td div {
    line-height: 1;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.fields td {
    cursor: pointer;
    padding: 0 0 0 10px;
    line-height: 1;
    vertical-align: middle;
    font-size: 14px;
}
.fields td .pip {
    vertical-align: middle;
    font-size: 12px;
}
td i {
    font-size: 28px;
    color: #3f5367;
    vertical-align: middle;
}
i.flag-icon {
    vertical-align: text-bottom;
    font-size: 16px;
}
i.icofont-red {
    color: rgb(216, 87, 87);
}
i.icofont-yellow {
    color: rgb(218 140 39);
}
i.icofont-green {
    color: rgb(18 140 39);
}
i.icofont-toggle-on,
i.icofont-toggle-off {
    font-size: 3rem;
}