{% extends 'public/layout.html' %} 
{% block body %}
<input type="hidden" id="confirmation_hash" value="{{ confirmation_hash }}">

<section class="main bg-dark">
    <div class="main__top">
        <a class="main__logo" href="/">
            <img alt="icon" src="{{ asset_url }}/images/icon-64x64.png">
            <div>Trivial Security</div>
        </a>
        <div class="main__links">
            <a id="home-link" href="{{ site_url }}">Homepage</a>
        </div>
        <div class="main__links">
            <a id="app-link" href="{{ app_url }}/dashboard">Dashboard</a>
        </div>
    </div>
    <div class="main__jumbo">
        <div class="main__jumbo-title">
            Complete Registration
        </div>
    </div>
    <div class="ChooseMfa__formContainer">
        <div class="Card__card LoginCard__card choose-mfa">
            <h1 class="LoginCard__header">
                Passwordless Authentication
            </h1>
            <div class="Card__card--inner">
                <h2 class="ChooseMfa__subheader">
                    Choose one of the following methods:
                </h2>
                <fieldset class="ChooseMfa__fieldset">
                    <label class="ChooseMfa__label totp">
                        <input name="mfaType" type="radio" value="totp">
                        <img src="{{ asset_url }}/images/icon-totp.svg" class="ChooseMfa__factorIconWrapper ChooseMfa__iconWrapper" alt />
                        Software/App Verification Code
                    </label>
                </fieldset>
                <fieldset class="ChooseMfa__fieldset">
                    <label class="ChooseMfa__label webauthn">
                        <input name="mfaType" type="radio" value="webauthn">
                        <img src="{{ asset_url }}/images/icon-security-key.svg" class="ChooseMfa__factorIconWrapper ChooseMfa__iconWrapper" alt >
                        Hardware Security Key
                    </label>
                </fieldset>
                <button id="choose-mfa" type="button" class="LoginActionButton__button wait_recaptcha">Next</button>
            </div>
        </div>
        <div class="Card__card LoginCard__card confirm-webauthn hide">
            <h1 class="LoginCard__header">
                Final Step - Verification
            </h1>
            <div>
                <div class="success-checkmark_off hide">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div>
                <h2 class="ChooseMfa__subheader">
                    Verify your Hardware Security Key Registration with Trivial Security
                </h2>
                <img src="{{ asset_url }}/images/icon-security-key.svg" class="ChooseMfa__factorIconWrapper ChooseMfa__iconWrapper">
                <p class="ChooseMfa__parra">
                    Touch sensor
                </p>
                <div id="name-webauthn" class="hide">
                    <fieldset class="ChooseMfa__fieldset">
                        <label class="ChooseMfa__label">
                            Device Name:
                            <input id="name-device" class="name-device" name="name-webauthn" type="text" placeholder="Name the device?">
                        </label>
                    </fieldset>
                </div>
                <button id="retry-webauthn" type="button" class="LoginActionButton__button wait_recaptcha">Verify</button>
            </div>
        </div>
        <div class="Card__card LoginCard__card verify-totp hide">
            <h1 class="LoginCard__header">
                Final Step - Verification
            </h1>
            <div>
                <div class="success-checkmark_off hide">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div>
                <div class="img-wrapper--container">
                    <div class="img-wrapper--inner">
                        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">
                            <img src="{{ asset_url }}/images/google_play.svg" class="img-wrapper" alt="Google Authenticator on Play Store">
                        </a>
                    </div>
                    <div class="img-wrapper--inner">
                        <a href="https://apps.apple.com/app/google-authenticator/id388497605" target="_blank">
                            <img src="{{ asset_url }}/images/app_store.svg" class="img-wrapper" alt="Google Authenticator in App Store">
                        </a>        
                    </div>    
                </div>
                <div class="ChooseMfa__parra">
                    Can't scan the image and need the code?
                </div>
                <div id="totp-secret-code" class="source-code"></div>
                <div id="totp-message" class="ChooseMfa__parra">
                    ...
                </div>
                <fieldset class="totp__fieldset">
                    <input type="number" name="totpcode[]" class="verify-code" placeholder="?" min="0" max="9" required />
                    <input type="number" name="totpcode[]" class="verify-code" placeholder="?" min="0" max="9" required />
                    <input type="number" name="totpcode[]" class="verify-code" placeholder="?" min="0" max="9" required />
                    <input type="number" name="totpcode[]" class="verify-code" placeholder="?" min="0" max="9" required />
                    <input type="number" name="totpcode[]" class="verify-code" placeholder="?" min="0" max="9" required />
                    <input type="number" name="totpcode[]" class="verify-code" placeholder="?" min="0" max="9" required />
                </fieldset>
                <button id="verify-totp" type="button" class="LoginActionButton__button wait_recaptcha verify-code hide">Verify Code</button>
            </div>
        </div>
    </div>
</section>
<a id="temporary"></a>
<div class="footer__spacer"></div>
<div class="footer">
    <div>
        © 2021 Trivial Security. All Rights Reserved.<br>
        <a href="https://docs.trivialsec.com/terms">Terms of Service</a> | <a href="https://docs.trivialsec.com/privacy/">Privacy Policy</a>
    </div>
</div>
{% endblock %}