<!DOCTYPE html>
<html>  
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trivial Security{% if page_title %} - {{ page_title }}{% endif %}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/vendor/icofont.min.css')|autoversion }}" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/public/main.css')|autoversion }}" />
        <script type=text/javascript src="{{url_for('static', filename='js/vendor/timeago.min.js')|autoversion }}"></script>
        <script type=text/javascript>
            window.recaptcha_site_key = '{{ recaptcha_site_key }}'
            window.app = {
                page: '{{ page }}',
                domain: {
                    name: '{{ app_domain }}',
                    scheme: '{{ app_scheme }}',
                },
                websocket: {
                    domain: '{{ socket_domain }}',
                    scheme: '{{ socket_scheme }}',
                }
            }
        </script>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static',filename='site.webmanifest')|autoversion }}">
        <link rel="mask-icon" href="{{ url_for('static',filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#494949">
        <meta name="msapplication-config" content="{{ url_for('static',filename='browserconfig.xml') }}">
        <meta name="theme-color" content="#1ABB9C">
        <script type=text/javascript src="{{url_for('static', filename='js/site.js')|autoversion }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/public/main.js')|autoversion }}"></script>
    </head>  
    <body>
        <div class="top-nav">
            <a href="/" class="title-link-side">
                <div class="banner-logo">
                    <img id="logo" src="{{ url_for('static',filename='images/icon-64x64.png') }}"/>
                </div>
                <h1 class="banner-heading">Trivial Security</h1>
            </a>
            <nav role="navigation">
            <ul>
                <li class="{% if page == 'home' %}active {% endif %}nav-home">
                <a href="/">
                    <span>Home</span>
                </a>
                </li>
                <li class="{% if page == 'faq' %}active {% endif %}nav-faq">
                <a href="/faq">
                    <span>FAQ</span>
                </a>
                </li>
            </ul>
            </nav>
        </div>
        <section class="container">
            {% block body %}{% endblock %}
        </section>
    </body>
</html>